:root {
	--primary-color: #3072f6;
	--primary-color-light: #e3ecff;
	--bg-color: #f5f7f7;
	--bg-color-second: #e4e9eb;
	--bg-color-white: white;
	--text-color: #131417;
	--text-color-gray: #677277;
	--text-color-dark: #68696b;
	--text-color-white: white;
	--line-color: #e6e7eb;
}
