@font-face {
	font-family: 'iconfont'; /* Project id 4466678 */
	src: url('//at.alicdn.com/t/c/font_4466678_zmoeich3wbs.woff2?t=1729232219813') format('woff2'),
		url('//at.alicdn.com/t/c/font_4466678_zmoeich3wbs.woff?t=1729232219813') format('woff'),
		url('//at.alicdn.com/t/c/font_4466678_zmoeich3wbs.ttf?t=1729232219813') format('truetype');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uncheck:before {
	content: '\e651';
}

.icon-check:before {
	content: '\e613';
}

.icon-medal:before {
	content: '\e612';
}

.icon-up:before {
	content: '\e611';
}

.icon-phone:before {
	content: '\e610';
}

.icon-close:before {
	content: '\e634';
}

.icon-copy:before {
	content: '\e60f';
}

.icon-books:before {
	content: '\e60e';
}

.icon-toggle:before {
	content: '\e60d';
}

.icon-agreement:before {
	content: '\e608';
}

.icon-clear:before {
	content: '\e609';
}

.icon-policy:before {
	content: '\e60a';
}

.icon-setting:before {
	content: '\e60b';
}

.icon-password:before {
	content: '\e60c';
}

.icon-hollow_circle:before {
	content: '\e607';
}

.icon-dot_three:before {
	content: '\e606';
}

.icon-delete:before {
	content: '\e604';
}

.icon-edit:before {
	content: '\e605';
}

.icon-add:before {
	content: '\e603';
}

.icon-search:before {
	content: '\e602';
}

.icon-down:before {
	content: '\e600';
}

.icon-right:before {
	content: '\e601';
}
